button{
  outline: none !important;
}

.btn-if{
  background-color: $if-color !important;
  color: white !important;
  &:focus {
    box-shadow: $shadow-focus;
  }
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active{
    background-color: $if-color-active !important;
  }
}
