$if-color: #fe7900;
$if-color-active: #e66e00;
$dark-transparent: rgba(33, 33, 33, 0.82);
$lactic-bg: #f8f8f8;
$shadow-focus: 0 0 0 0.2rem rgba(254, 121, 0, 0.40);
$border-focus: rgba(254, 121, 0, 0.40);

