.page-item.active {
  .page-link {
    background-color: $if-color;
    border-color: $if-color;
    box-shadow: none !important;
    &:focus {
      box-shadow: none !important;
    }
  }
}
.page-item{
  .page-link {
    border: none;
    color: $if-color;
    &:focus {
      box-shadow: none !important;
    }
  }
}

