<template>
  <section class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="row">
            <div class="col-8 col-md-4">
              <img v-if="movie.poster_path" class="img-responsive"
                   v-lazy="'https://image.tmdb.org/t/p/w300_and_h450_bestv2' + movie.poster_path" alt="poster">
            </div>
            <div class="col-12 col-md-8">
              <b-list-group class="font-14">
                <b-list-group-item>
                  <span>{{$t('name')}}:</span>
                  <strong>{{movie.title}}</strong>
                </b-list-group-item>
                <b-list-group-item class="bg-light">
                  <span>{{$t('year')}}:</span>
                  <strong>{{$moment(movie.release_date).format('Y')}}</strong>
                </b-list-group-item>
                <b-list-group-item>
                  <span>{{$t('genre')}}:</span>
                  <strong>
                    <template v-if="genres.length" v-for="genre in genresShow(movie.genre_ids)">
                      {{genre.name}},
                    </template>
                  </strong>
                </b-list-group-item>
                <b-list-group-item>
                  <span>{{$t('origonal_title')}}:</span>
                  <strong>{{movie.original_title}}</strong>
                </b-list-group-item>
              <!--  <b-list-group-item>
                  <span>режисер:</span>
                  <strong>Лорен Бернье</strong>
                </b-list-group-item>-->
              </b-list-group>
            </div>
            <div v-if="movie.overview" class="col-12 bg-light p-3 mt-4">
              <h5>{{$t('about_movie')}}</h5>
              <p>{{movie.overview}}</p>
            </div>
            <div class="col-12 col-md-8 mt-2">
              <client-only>
                <star-rating
                  v-if="movie.vote_average"
                  class="d-none d-sm-inline-block"
                  :star-size="45"
                  :increment="0.5"
                  :rating="parseFloat(movie.vote_average)"
                  :read-only="true"
                  :max-rating="10"
                  text-class="d-none"
                  active-color="#fe7900"></star-rating>
              </client-only>
            </div>
            <div class="col-12 col-md-4 mt-2">
              <p class="m-0 font-20 text-right">{{$t('movie_vote')}}: <strong>{{movie.vote_average}}</strong></p>
              <p class="m-0 text-right">{{$t('vote_count')}}: <strong>{{movie.vote_count}}</strong></p>
            </div>
            <div v-if="toggle" class="col-12 mt-2 overflow-hidden asdasasdsd">
              <div id="yohoho" :data-title="movie.title + ' (' + $moment(movie.release_date).format('Y') + ')'" class="w-100"></div>
            </div>
            <div class="col-12 mt-3 text-center">
              <img class="img-fluid" v-lazy="'https://image.tmdb.org/t/p/w533_and_h300_bestv2' + movie.backdrop_path" alt="backdrop">
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-5 mt-md-0">
          <recommendations/>
          <nowPlaying/>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  import {mapGetters} from 'vuex'
  import recommendations from '../components/widget/recommendation'
  import nowPlaying from '../components/widget/now-playing'
  import {genresParse} from '../mixin/genres'

  export default {
    name: "movie",
    mixins: [
      genresParse
    ],
    async fetch({route, store, params}) {
      await store.dispatch('movie/getMovie', route.query.id)
    },
    data() {
      return {
        id: this.$route.query.id,
        toggle: true,
      }
    },
    components: {
      recommendations,
      nowPlaying
    },
    computed: {
      ...mapGetters({
        movie: 'movie/getMovie',
      })
    },
    watch: {
      id(val) {
        if (this.movie.id) {
          this.getMovie(val)
        }
      }
    },
    watchQuery(newQuery, oldQuery) {
      if (oldQuery.id != newQuery.id) {
        this.id = newQuery.id
      }
    },
    methods: {
      getMovie(id) {
        this.toggle = false
        this.$store.dispatch('movie/getMovie', id)

        setTimeout(() => {
          this.toggle = true
        }, 500)

        setTimeout(() => {
          yo()
        }, 1000)
      },
    },
    mounted() {
        yo()
    }
  }
</script>

<style lang="scss" scoped>
  .asdasasdsd {
    &:after {
      content: 'Movie not found ☹';
      background: #f8f8f8;
      font-size: 25px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
</style>
