<template>
  <div>
    <headerNavbar />
    <topMoviesBanner />
    <transition enter-active-class="animated fadeIn fast">
      <nuxt />
    </transition>
    <footerContent></footerContent>
  </div>
</template>

<script>
  import headerNavbar from '../components/header'
  import topMoviesBanner from '../components/top-movies-banner'
  import footerContent from '../components/footer-content'

  export default {
    head () {
      return {
        link: [
          { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Montserrat&display=swap' }
        ]
      }
    },
    components: {
      headerNavbar,
      topMoviesBanner,
      footerContent
    },
  }
</script>

<style lang="scss" scoped>
  * {
    font-family: 'Montserrat', sans-serif;
  }
</style>
