<template>
    <header class="container">
      <b-navbar toggleable="lg" class="p-3 shadow-none">
        <b-navbar-brand>
          <nuxt-link to="/">
            <img src="/images/ifilm.png" width="120" alt="logo">
          </nuxt-link>
        </b-navbar-brand>

        <select class="form-control border-0 p-0 shadow-none w-auto">
          <option>EN</option>
          <option>RU</option>
        </select>
        <b-navbar-toggle target="nav-collapse" class="p-0 border-0">
          <div class="hamburger" id="hamburger-btn">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <!-- Right aligned nav items -->
          <b-nav-form class="ml-sm-3 pt-4 pt-lg-0">
            <b-form-input v-model="searchParam" size="sm" class="mr-lg-2 radius-5 p-3 shadow-none w-auto" placeholder="Search"></b-form-input>
            <nuxt-link :to="{name: 'search', query: { keyword:searchParam } }" :event="!searchParam ? 'disabled' : 'click'">
              <button name="search" size="sm" class="d-none d-lg-block btn btn-if my-2 my-sm-0 p-2 font-weight-bold font-13">{{$t('search')}}</button>
            </nuxt-link>
          </b-nav-form>
          <b-navbar-nav class="ml-auto">
            <nuxt-link class="nav-link pl-0 pl-lg-3 pr-3" :to="{name: 'search', query: { keyword: 'newest_movies' } }">
              {{$t("newest")}}
            </nuxt-link>
            <nuxt-link class="nav-link pl-0 pl-lg-3 pr-3" :to="{name: 'movie', query: { id: randomId } }">
             {{$t("random")}}
            </nuxt-link>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </header>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    name: "header-navbar",
    data() {
      return {
        searchParam: ''
      }
    },
    computed: {
      ...mapGetters({
        recommendations: 'recommendation/get',
      }),
      randomId() {
        return this.recommendations.length ? this.recommendations[Math.floor(Math.random() * this.recommendations.length)].id : 15
      }
    },
  }
</script>

<style lang="scss" scoped>
  .hamburger{
    cursor: pointer;
    .line{
      width: 40px;
      height: 5px;
      background-color: #fe7900;
      display: block;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-radius: 5px
    }
  }
  .navbar-toggler[aria-expanded="true"]{
    #hamburger-btn{
      .line:nth-child(2){
        opacity: 0;
      }
      .line:nth-child(1){
        transform: translateY(7px) rotate(45deg);
      }
      .line:nth-child(3){
        transform: translateY(-13px) rotate(-45deg);
      }
    }
  }
</style>
